body {
  background: #f1f5f9;
}

.wrapper {
  width: 300px;
  text-align: center;
}

.pickColorBtn {
  width: 200px;
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 5px;
  background-color: #facc15;
  cursor: pointer;
}

.colorGrid {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.selectedColor {
  display: flex;
  margin-top: 20px;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: center;
  gap: 10px;
}
